.container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e3ebfd;
}

.logoContainer {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
}

.logoImage {
    height: 4em;
    width: auto;
}

.menuItemsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Adjusts the gap between flex items */
    padding-top: 1.5rem; /* Top padding */
    padding-right: 1.5rem; /* Right padding */
}

.menuItem {
    color: #434D5C;
    font-weight: 700;
}

.menuItem:hover {
    color: #3B82F6;
}