.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  background: var(--background);
  color: var(--foreground);
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
}

.tableContainer {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  backdrop-filter: blur(10px);
  max-width: 600px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .tableContainer {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px 20px;
  justify-content: center;
}

.label {
  text-align: right;
  font-weight: bold;
  align-self: center;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonContainer {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  flex: none;
}

.button:hover {
  background-color: #333;
}

.saveButton {
  background-color: #000;
  color: #fff;
}

.saveButton:hover {
  background-color: #333;
}

.backButton {
  background-color: #eaeaea;
  color: #333;
}

.backButton:hover {
  background-color: #cacaca;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
